<footer class="footer">
    <div class="footer-content">
        <div class="footer-text">
            <img src="assets/images/VelocityNvim_Logo_Footer.svg" alt="VelocityNvim" class="footer-logo" width="28" height="28">
            <p>VelocityNvim™ · MIT</p>
            <span class="footer-divider">·</span>
            <p class="lang-content de active">© 2025–2026 · Hosted on GitHub Pages</p>
            <p class="lang-content en">© 2025–2026 · Hosted on GitHub Pages</p>
        </div>
        <div class="footer-text">
            <a href="https://github.com/Maik-0000FF/VelocityNvim">GitHub</a>
            <span class="footer-divider">·</span>
            <a href="https://github.com/Maik-0000FF/VelocityNvim/blob/main/LICENSE">License</a>
        </div>
    </div>
</footer>
