<footer class="footer">
    <div class="footer-content">
        <img src="assets/images/VelocityNvim_Logo_Footer.svg" alt="VelocityNvim Logo" class="footer-logo" width="48" height="48">
        <div class="footer-text">
            <p class="lang-content de active">Copyright © 2025–2026 VelocityNvim™</p>
            <p class="lang-content en">Copyright © 2025–2026 VelocityNvim™</p>
            <span class="footer-divider">•</span>
            <p>Powered by GitHub Pages</p>
        </div>
    </div>
</footer>
